<img src="{{data.image}}" class="img-responsive center-block img-anime"/> {{{data.desc}}}
<ul class="list-unstyled">
  <li><strong>Type:</strong> {{data.type}}</li>
  <li><strong>Episodes:</strong> {{data.episodes}}</li>
  <li><strong>Status:</strong> {{data.status}}</li>
  <li><strong>Producers:</strong> {{data.producers}}</li>
  <li><strong>Studios:</strong> {{data.studios}}</li>
  <li><strong>Genres:</strong> {{data.genres}}</li>
  <li><strong>Rating:</strong> {{data.rating}}</li>
  <li><strong>Score:</strong> {{data.score}}</li>
</ul>
